
    
    <body>
        <section class="sect2" id="mission">
            <div class="container">
                <div class="title">
                    <h1>Currency Converter</h1>
                </div>
                <div class="content content-top" id = "predict">
                    <div class="left" id = "left">
                      <form action="">
                        <label for="currency1">Choose a currency:</label>
                        <select id="currency1" name="currency1" (change)="changeCurrency1($event)">
                          <option value="AED">United Arab Emirates dirham</option>
                          <option value="AOA">Angolan kwanza</option>
                          <option value="ARS">Argentine peso</option>
                          <option value="AUD">	Australian dollar</option>
                          <option value="AZN">Azerbaijani manat</option>
                          <option value="BAM">Bosnia and Herzegovina convertible mark</option>
                          <option value="BHD">Bahraini dinar</option>
                          <option value="BIF">Burundian franc</option>
                          <option value="BRL">Brazilian real</option>
                          <option value="CHF">Swiss franc</option>
                          <option value="CNY">Chinese yuan</option>
                          <option value="EGP">Egyptian pound</option>
                          <option value="ETB">Ethiopian birr</option>
                          <option value="EUR">Euro</option>
                          <option value="JPY">Japanese yen</option>
                          <option value="USD">United States dollar</option>
                          <option value="XAF">CFA franc</option>
                        </select>

                        <input type="text" id="value1" name="value1" (keyup) = "onKey($event)" value="0" ng-model = "val">
                      </form>
                    </div>
                    
                    <div class="right" id = "right">
                      <form action="">
                        <label for="currenc/action_pagy2">Choose a currency:</label>
                        <select id="currency2" name="currency2" (change)="changeCurrency2($event)">
                          <option value="AED">United Arab Emirates dirham</option>
                          <option value="AOA">Angolan kwanza</option>
                          <option value="ARS">Argentine peso</option>
                          <option value="AUD">	Australian dollar</option>
                          <option value="AZN">Azerbaijani manat</option>
                          <option value="BAM">Bosnia and Herzegovina convertible mark</option>
                          <option value="BHD">Bahraini dinar</option>
                          <option value="BIF">Burundian franc</option>
                          <option value="BRL">Brazilian real</option>
                          <option value="CHF">Swiss franc</option>
                          <option value="CNY">Chinese yuan</option>
                          <option value="EGP">Egyptian pound</option>
                          <option value="ETB">Ethiopian birr</option>
                          <option value="EUR">Euro</option>
                          <option value="JPY">Japanese yen</option>
                          <option value="USD">United States dollar</option>
                          <option value="XAF">CFA franc</option>
                        </select>

                        <p id="value2" name="value2">{{credit |currency : cur2}}</p>

                      </form>
                    </div>
                </div>
            </div>
        </section>
